body {
  background-color: #deb887;
  width: 70%;
  margin: 0 auto;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-text__search {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  flex-direction: row;
  align-items: baseline;
}

.input-text__search input {
  flex-grow: 3;
}

.input-text__search button {
  flex-grow: 1;
}

.loaded-itemList__search {
  flex-direction: row;
  display: flex;
  border: 5px solid #808080;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  border-radius: 4px;
}

.loaded-itemList__search img {
  flex: 1 1 30%;
}

.loaded-itemList__search div {
  flex: 2 1 60%;
}

.loaded-itemList__search button {
  flex: 1 1 10%;
  align-self: flex-end;
}

.loaded-img__item {
  margin: 10px;
  padding: 0;
  width: 200px;
  height: 200px;
  position: relative;
  background: #c2c2c2;
  border: 1px solid #808080;
  border-radius: 3px;
}

.loaded-text__content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0;
}

.loaded-text-content__item {
  text-align: left;
  padding: 0;
  margin: 5px;
}

.close {
  color: #aaa;
  float: rigth;
  font-size: 28px;
  font-weight: bold;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-img__item {
  margin: 10px;
  padding: 0;
  width: 300px;
  height: 300px;
  position: relative;
  background: #cc99fe;
  border: 1px solid #808080;
  border-radius: 4px;
}

.modal img {
  flex: 1 1 30%;
}

.modal.modal-content {
  flex: 2 1 70%;
}

.modal-exit__button {
  flex: 1 1 10%;
  align-self: flex-start;
  color: red;
  font-size: 250%;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.modal {
  margin: auto;
  z-index: 20;
  left: 0;
  top: 0;
  overflow: auto;
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  background-color: #5f9ea0;
  flex-direction: row;
  justify-content: space-between;
}

.favorit-button {
  width: 130px;
  margin-top: 10px;
  align-self: flex-start;
}

.list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 10px;
  flex-direction: column;
}
.list-favorits h2 {
  text-align: center;
}

.list-favorits {
  padding: 0;
  margin: 10px;
  border: 5px solid #808080;
  border-radius: 4px;
}

.list #listItem {
  flex: 3 1 60%;
}

.list #listfavorits {
  flex: 2 1 40%;
}

.item-storage__Favorits {
  flex-direction: row;
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  border: 1px solid #808080;
  border-radius: 4px;
}

.item-storage__Favorits img {
  margin: 10px;
  padding: 0;
  width: 200px;
  height: 200px;
  position: relative;
  background: #c2c2c2;
}
.modal-content div {
  margin: 10px;
}
.modal-content h3 {
  margin: 10px;
}
.modal-content h4 {
  margin: 10px;
}
.modal-content h5 {
  margin: 10px;
}
.favorit-exit__button {
  width: 130px;
  align-self: auto;
  color: red;
  font-size: 150%;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.close__button {
  display: none;
}
.l {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75em;
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.3) inset;
  color: #fdea7b;
  display: inline-flex;
  align-items: center;
  margin: auto;
  padding: 0.15em;
  width: 3em;
  height: 1.5em;
  transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.l:before,
.l:after {
  content: "";
  display: block;
}

.l:before {
  background-color: #d7d7d7;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  z-index: 1;
}

.l:after {
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0) 0 50% /
      50% 100%,
    repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%)
      0 50% / 50% 100%,
    radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #d8d8d8;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%);
  transform-origin: 25% 50%;
  width: 1.2em;
  height: 1em;
}

/* Checked */
.l:checked {
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.1) inset;
}

.l:checked:before {
  background-color: currentColor;
  transform: translateX(125%);
}

.l:checked:after {
  border-left-color: currentColor;
  transform: translateX(-2.5%) rotateY(180deg);
}

/* Other States */
.l:focus {
  /* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
  outline: 0;
}
main {
  padding: 1.5em 0 0 0;
  text-align: left;
}
.main-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}
.main-checkbox div {
  margin: 10px;
}
.main-checkbox label {
  margin: 10px;
}

.close-radio {
  display: none;
}
.showMoreButton {
  align-self: center;
  font-size: 150%;
  cursor: pointer;
  margin: auto;
  width: 100%;
  padding: 0;
  align-self: flex-end;
  background-color: blue;
}
